# 06.3 Data Cleaning - Alias

Thanks to the previous step, Data Profiling - Alias

In [1]:
import datetime
import os
import time
import pandas as pd 
import requests
import urllib3
import json
import sys
import numpy as np
import math

pd.options.display.max_colwidth = 1000
pd.set_option('display.max_columns', None)

In [2]:
file = r'C:\Users\leona\OneDrive\Desktop\Tesi\Pipeline\Datasets\Pipeline\IocSegnalations\PostDataIntegration\Alias.csv'

In [3]:
df = pd.read_csv(file, low_memory = False )
df

                       malware            alias
0                cobalt strike        agentemis
1                 nanocore rat          nancrat
2                       remcos        remcosrat
3   loki password stealer  pws          burkina
4                        dcrat  darkcrystal rat
..                         ...              ...
71                 smokeloader     smoke loader
72                   ave maria         avemaria
73                     houdini           wshrat
74                     houdini          dinihou
75                     houdini           dunihi

[76 rows x 2 columns]

# Data Cleaning

### Missing value 
- Drop a row if one of the sub columns 'malware' , 'alias' is NaN
- Drop a row if it's duplicate

In [4]:
df.dropna(subset=['malware', 'alias'], inplace=True)
df = df.reset_index(drop = True)
df

                       malware            alias
0                cobalt strike        agentemis
1                 nanocore rat          nancrat
2                       remcos        remcosrat
3   loki password stealer  pws          burkina
4                        dcrat  darkcrystal rat
..                         ...              ...
71                 smokeloader     smoke loader
72                   ave maria         avemaria
73                     houdini           wshrat
74                     houdini          dinihou
75                     houdini           dunihi

[76 rows x 2 columns]

In [5]:
df = df.drop_duplicates()
df = df.reset_index(drop = True)

df

                       malware            alias
0                cobalt strike        agentemis
1                 nanocore rat          nancrat
2                       remcos        remcosrat
3   loki password stealer  pws          burkina
4                        dcrat  darkcrystal rat
..                         ...              ...
71                 smokeloader     smoke loader
72                   ave maria         avemaria
73                     houdini           wshrat
74                     houdini          dinihou
75                     houdini           dunihi

[76 rows x 2 columns]

### Save dataset into DataWrangling folder

In [6]:
df.to_csv(r'C:\Users\leona\OneDrive\Desktop\Tesi\Pipeline\Datasets\Pipeline\IocSegnalations\IntegratedDataset\PostDataCleaning\Alias.csv')